---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich
spec:
  ingressClassName: traefik
  tls:
    - secretName: immich-sindt-org-tls
      hosts:
        - immich-hdd.sindt.org
  rules:
  - host: immich-hdd.sindt.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: immich-server
            port:
              number: 2283
