apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

images:
- name: ghcr.io/immich-app/immich-machine-learning
  newTag: v2.5.3 
- name: ghcr.io/immich-app/immich-server
  newTag: v2.5.3 
- name: ghcr.io/immich-app/postgres
  newTag: 14-vectorchord0.3.0-pgvectors0.2.0@sha256:c570d9e1c2494f65d2a0a379a7f6df66e8441964254a30aa62cc58e8ebf1dee0 

resources:
- immich.yaml
- ingress.yaml
- namespace.yaml

generators:
- secrets.yaml
